In [1]:
# Installing Libraries (if not installed)
#!pip3 install matplotlib
#!pip3 install scikit-learn
#!pip3 install seaborn
#!pip3 install numpy
#!pip3 install pandas

# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_1 = pd.read_csv('data/dataset_1.csv', sep=';')

df_1.head() # Show first 5 rows
df_1

          Date  exercise_hours  stress_level
0   2018-01-01               1             4
1   2018-01-03               2             2
2   2018-01-05               3             3
3   2018-01-07               1             2
4   2018-01-09               3             3
5   2018-01-10               1             4
6   2018-01-12               2             2
7   2018-01-15               3             3
8   2018-01-16               1             2
9   2018-01-20               3             3
10  2018-01-21               1             4
11  2018-01-23               2             2
12  2018-01-25               3             3
13  2018-01-27               1             2
14  2018-01-29               3             3
15  2018-02-02               1             4
16  2018-02-03               2             2
17  2018-02-05               3             3
18  2018-02-06               1             2
19  2018-02-09               3             3
20  2018-02-10               1             4
21  2018-02-13               2             2
22  2018-02-15               3             3
23  2018-02-17               1             2
24  2018-02-20               3             3
25  2018-02-21               1             4
26  2018-02-23               2             2
27  2018-02-25               3             3
28  2018-02-27               1             2
29  2018-02-28               3             3
30  2018-03-05               1             4
31  2018-03-06               2             2
32  2018-03-08               3             3
33  2018-03-09               1             2
34  2018-03-11               3             3
35  2018-03-13               1             4
36  2018-03-14               2             2
37  2018-03-15               3             3
38  2018-03-19               1             2
39  2018-03-23               3             3
40  2018-03-24               1             4
41  2018-03-27               2             2
42  2018-03-29               3             3
43  2018-03-30               1             2
44  2018-03-31               3             3
45  2018-04-10               2             2
46  2018-04-11               3             3
47  2018-04-15               1             2
48  2018-04-17               3             3
49  2018-04-21               3             3

In [6]:
df_2 = pd.read_csv('data/rain_temp.csv', sep=';')

df_2.head() # Show first 5 rows
df_2

       Date  rain(mm)  temperature(cel)
0    1-2013   45.4013           25.2206
1    2-2013   22.9427           26.3958
2    3-2013  153.9860           27.4341
3    4-2013  149.2600           24.6741
4    5-2013   69.8086           25.7978
5    6-2013   27.1810           23.2140
6    7-2013   27.0799           23.8115
7    8-2013   58.4273           23.5112
8    9-2013   46.3291           25.3242
9   10-2013   44.4752           24.9766
10  11-2013   86.8101           25.5144
11  12-2013   66.1564           25.5392
12   1-2015   27.6448           25.0370
13   2-2015   24.5305           25.8811
14   3-2015   53.4039           25.9173
15   4-2015  145.9440           26.4535
16   5-2015   98.0513           25.0145
17   6-2015   49.9997           24.5622
18   7-2015   28.0156           24.2829
19   8-2015   26.0428           24.2959
20   9-2015   37.6938           25.2014
21  10-2015   72.3612           27.0425
22  11-2015  153.2120           25.1404
23  12-2015   69.9374           26.5248